<form (ngSubmit)="addTask()" #taskForm="ngForm" class="task-form">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Название задачи</mat-label>
    <input matInput name="title" [(ngModel)]="title" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Описание</mat-label>
    <textarea matInput name="description" [(ngModel)]="description" rows="2"></textarea>
  </mat-form-field>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!taskForm.form.valid">Добавить задачу</button>
  </div>
</form>
